{% extends "base.html" %}
{% block content %}
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">重置密码</h3>
          </div>
          <div class="panel-body">
            {% if validlink %}
            <form class="form-horizontal" action=""  method="post">
                {% csrf_token %}
                <a>新密码:
                <input id="id_new_password1" type="password" name="new_password1" />
                </a>

                <br />
                <br />
                <a>
                确认密码:
                <input id="id_new_password2" type="password"  name="new_password2" />
                </a>
                <br />

                <input type="submit" value="提交" />
            </form>
              {% else %}
                失效的
              {% endif %}
          </div>
        </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" > {{ error }}</div>
                {% endfor %}
              {% endif %}
              {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                    <div class="alert alert-danger" > 第一次输入:{{ error }}</div>
                    {% endfor %}
              {% endif %}
              {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                    <div class="alert alert-danger" > 第二输入密码:{{ error }}</div>
                    {% endfor %}
              {% endif %}
    </div>



{% endblock %}