{% extends "base.html" %}
{% block content %}
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">重置密码</h3>
          </div>
          <div class="panel-body">

            <form class="form-horizontal" action=""  method="post">
                {% csrf_token %}
                请输入注册的邮箱:
                <input id="id_email" name="email" type="email" />
                <input type="submit" value="提交" />
            </form>
          </div>
        </div>
    </div>



{% endblock %}