{% extends "base.html" %}
{% block content %}
<body>

    <div class="col-xs-12 col-md-12">


    </div>

    <div class="col-xs-12 col-md-10">
        {% for b in blocks %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/article/list/{{ b.id }}" style="font-size: 16px">{{ b.name }}</a>
                <span  class="pull-right">管理员:{{ b.manager_name }}</span>
            </div>
            <div class="panel-body">
                {{ b.desc }}
            </div>
        </div>
        {% endfor %}
    </div>
            <div class="col-xs-12 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                {% if user.is_authenticated %}

                    <p>{{ user.username }} 欢迎来到论坛 </p>
                         {% if user.userprofile.avatar %}
                            <img src="{{ user.userprofile.avatar }}"
                               style="width:100%; height:150px;"
                                 alt="头像" />
                        {% else %}
                            <a href="/usercenter/uploadavatar"> 您还没上传头像,点击去上传</a>
                        {% endif %}
                        <br />
                        <br />



                        <a href="/accounts/password_change" style="font-size: 16px">修改密码</a>
                        <a href="/accounts/logout" style="font-size: 16px">登出</a>
                {% else %}
                    <p>匿名用户请 <a href="/accounts/login/" style="font-size: 16px"> 登录</a> </p>

                {% endif %}


                </div>
            </div>
    </div>
</body>
{% endblock %}
