{% extends "base.html" %}
{% block content %}
    <div class="col-xs-12 col-md-12">

        <table class="table table-bordered" >
        <thead>
            <tr>
                <th>作者</th>
                <th>内容</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> no name </td>
                <td><h1>{{ a.title }}  </h1>
                    <br />
                    {{ a.content }}
                </td>
            </tr>
        </tbody>
        </table>
    </div>



{% endblock %}