{% extends "base.html" %}
{% block content %}
    <div class="col-xs-12 col-md-12">

        <table class="table table-bordered" >

        <tbody>
            <tr>
                <td>
                    作者:
                    {{ article.owner }}
                </td>
                <td>
                    <h1>{{ article.title }}  </h1>
                    <br />
                    {{ article.content }}
                </td>
            </tr>

            {% for com in comment %}
            <tr>
                <td>
                    作者:
                    {{ com.owner }}
                </td>
                <td>
                    {% if com.to_comment %}
                        <blockquote>
                            <b> {{ com.to_comment.owner.username }}:</b>
                            <br />
                            {{ com.to_comment.content |linebreaksbr }}
                        </blockquote>
                    {% endif %}

                    {{ com.content|linebreaksbr }}
                    <a href="#replyRegin" data-id = "{{ com.id }}" class="replyBtn btn btn-primary pull-right">回复</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
        </table>

            <nav>
             <ul class="pagination">
                 {% if pagination_data.has_previous %}
                    <li><a href="?page_no= 1" >首页</a></li>
                    <li><a href="?page_no={{ pagination_data.previous_link }}" >&laquo</a></li>
                 {% endif %}
                 {% for no in pagination_data.page_links %}
                    {% if no == pagination_data.current_no %}
                        <li class="active">
                            <a href="?page_no={{ pagination_data.current_no }}"> {{ pagination_data.current_no }} </a>
                        </li>
                    {% else %}
                        <li ><a href="?page_no={{ no }}"> {{ no }} </a></li>
                    {% endif %}
                 {% endfor %}
                 {% if pagination_data.has_next %}
                    <li><a href="?page_no={{ pagination_data.next_link }}"  >&raquo</a></li>
                    <li><a href="?page_no= {{ pagination_data.page_cnt }}" >尾页</a></li>
                 {% endif %}

              </ul>
        </nav>

            {% csrf_token %}


        <label  class="col-sm-2 control-label">作者: {{ user.username }}</label>

            <div class="col-sm-10 ">
                <textarea class="form-control" rows="3" name="comment"  id="commentContent" >
                {{ comment.content |linebreaksbr  }}
                </textarea>
                <br />
            <button type="submit" class="btn btn-primary" id="commentBtn" >发表评论</button>

            </div>






        <script type="text/javascript" src="/static/js/jquery.1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.csrf.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                    var article_id = {{ article.id }};
                    var owner = '{{ user.username }}';
                    var page_cnt = {{ pagination_data.page_cnt }};

                    var to_comment_id =0;
                     $(".replyBtn").click(function(e) {
                     to_comment_id = parseInt($(e.target).attr("data-id"));
                     $("#commentContent").focus();
                        return false;

                        });

                    $("#commentBtn").click(function() {
                        var comment=$("#commentContent").val();
                        var  param = {"article_id":article_id,"content":comment,"owner": owner,"to_comment_id":to_comment_id};
                        $.post("/comment/create/", param, function (data) {
                            var ret = JSON.parse(data);
                            if (ret["status"] == "ok" ) {
                                        $("#commentContent").val("");
                                        //window.location.href = "/article/detail/{{ article.id }}?page_no=" +1000
                                        window.location.href = "/article/detail/{{ article.id }}?"
                                            }
                             else {
                                        alert(ret["msg"]);
                                    }
                              });
                            });
                        });
        </script>
    </div>



{% endblock %}